{% extends "layout.html" %}
{% block content %}


<div class="row ">
    <div class="col-sm-3 movies_container">
        <aside>
            <form method="get">
                <div class="text-center">
                    <button type="submit" class="btn btn-light">Appliquer mes paramètres</button>
                </div>
                <hr>
                <p>Classer par : </p>
                <div>
                    <div>
                        <input type="radio" id="budget" name="sorts[]" value="budget">
                        <label for="budget">Budget</label>
                    </div>

                    <div>
                        <input type="radio" id="revenues" name="sorts[]" value="revenues">
                        <label for="revenues">Revenus</label>
                    </div>

                    <div>
                        <input type="radio" id="profit" name="sorts[]" value="profit">
                        <label for="profit">Bénéfices</label>
                    </div>

                    <div>
                        <input type="radio" id="release_year" name="sorts[]" value="release_year" checked>
                        <label for="release_year">Année de parution</label>
                    </div>
                </div>
                <hr>
                <p>En ordre : </p>
                <div>
                    <input type="radio" id="asc" name="order" value="1">
                    <label for="asc">Ascendant</label>
                </div>
                <div>
                    <input type="radio" id="desc" name="order" value="-1" checked>
                    <label for="desc">Descendant</label>
                </div>
                <div>
                    <input id="page" name="page" type="hidden" value="1">
                </div>
                <p>Filtrer par genres : </p>

                {% for genre in genres %}
                <div>
                    <input type="checkbox" id="genres" name="genres[]" value="{{ genre }}">
                    <label for="genres">{{ genre }}</label>
                </div>
                {% endfor %}

                <!-- <p>Filtrer par tags : </p> -->
            </form>
        </aside>
    </div>
    <div class="col-sm-9">
        <div class="row">
            <div class="col-sm-12 text-center">
                <h1>Movie list</h1>
            </div>
        </div>
        <section>
            <div class="row">
                <div class="col-sm-6 text-left">
                    {% if links['previous'] %}
                        <a href="{{ links['previous'] }}"> <i class="far fa-caret-square-left previous-left"></i></a> 
                    {% else %}
                        <span href="/" class="deactivated-link"> <i class="far fa-caret-square-left previous-left"></i></span> 
                    {% endif %}
                </div>
                <div class="col-sm-6 text-right">
                    {% if links['next'] %}
                        <a href="{{ links['next'] }}"> <i class="far fa-caret-square-right previous-right"></i></a>
                    {% else %}
                        <span href="/" class="deactivated-link"> <i class="far fa-caret-square-right previous-right"></i></span>
                    {% endif %}
                </div>

            </div>

            <div class="row">
                {% for movie in movies %}
                    <div class="col-sm-6  movie__title">
                        <div class="movie__card">
                            <div class="movie--infos">
                                <h2>{{ movie.title }}</h2>
                                <ul>
                                    <li>Année : <strong>{{ movie.release_year }}</strong></li>
                                    <li>Budget : <strong>{{ movie.budget }}</strong></li>
                                    <li>Revenus : <strong>{{ movie.revenues }}</strong></li>
                                    <li>Bénéfices : <strong>{{ movie.profit }}</strong></li>
                                    <li>Réalisateur : <strong>{{ movie.director }}</strong></li>
                                    <li>Acteurs : </li>
                                    <ul>
                                        {% for actor in movie.artists %}
                                        <li>{{ actor.name }}</li>
                                        {% endfor %}
                                    </ul>
                                </ul>
                            </div>
                            <div class="movie--image">
                                <img src="{{ movie.picture_url }}"\>
                            </div>
                        </div>
                    </div>
                {% endfor %}

            </div>

            <div class="row">
                <div class="col-sm-6 text-left">
                    {% if links['previous'] %}
                        <a href="{{ links['previous'] }}"> <i class="far fa-caret-square-left previous-left"></i></a> 
                    {% else %}
                        <span href="/" class="deactivated-link"> <i class="far fa-caret-square-left previous-left"></i></span> 
                    {% endif %}
                </div>
                <div class="col-sm-6 text-right">
                    {% if links['next'] %}
                        <a href="{{ links['next'] }}"> <i class="far fa-caret-square-right previous-right"></i></a>
                    {% else %}
                        <span href="/" class="deactivated-link"> <i class="far fa-caret-square-right previous-right"></i></span>
                    {% endif %}
                </div>

            </div>
        </section>

    </div>
</div>

{% endblock %}

